.Buscador {
  background: #AC58FA;
  border-radius: 30px;
  border: 3px solid #D0A9F5;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.Buscador::placeholder {
  color: #FFFFFF;
  font-weight: 400;
}

.Buscador:focus {
  outline-color: #D0A9F5;
}
